@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,800,800i,900i&display=swap");
html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.btn {
    padding: 0.8rem 2rem;
}

.section {
    padding: 100px 0;
    position: relative;
}

.ml-4 {
    margin-left: 2rem;
}

.bg-light {
    background-color: $color-light;
}
